{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header clearfix">
    <div class="pull-left">
        <div class="campaign-title">{{ campaign.title|default:'Untitled Campaign' }}</div>
        <span class="campaign-times">// {{ campaign.start_date }} - {{ campaign.end_date }}</span>
    </div>

    <div class="campaign-actions pull-right">
        {% if not campaign.has_ended %}
        <a href="{% url 'upload' %}" class="btn"><i class="fa fa-plus-circle"></i> {{ _("Upload Beard") }}</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
    {% include 'campaign-view-h.html' with beards=beards %}
{% endblock %}
